[Unit]
Description=FastAPI Tutorial Service
After=network.target postgresql.service

[Service]
Type=simple
User=root
WorkingDirectory={{ fastapi_app_dir }}
Environment="PATH={{ python_venv_path }}/bin"
ExecStart={{ python_venv_path }}/bin/uvicorn app.main:app --host 0.0.0.0 --port {{ fastapi_port }}
Restart=always

[Install]
WantedBy=multi-user.target